* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}
.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: rgb(51,60,64);
    background: linear-gradient(90deg, rgba(51,60,64,1) 0%, rgba(41,48,51,1) 36%);

}
header {
    width: 100%;
    height: 10vh;
    background-color: #1c2631;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.srodki {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color:white;
}
nav{
    width: 20%;
    height: 70vh;
}
nav>a{
    color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.nav_link{
    background-color: #293033;
    width: 75%;
    height: 20%;
    margin: 5px auto;
    border-radius: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.nav_link>img{
   transform: none;
    height:70px;
}
.nav_link:hover{
    background-color: rgb(90, 90, 90);
    transition: background-color 0.3s; 
}
.gry{
    color:white;
    height: 10%;
    text-align: center;
}
section{
    display:flex;
    width: 80%;
    height: 70vh;
    align-items: center;
    flex-wrap: wrap;
    
}
footer{
    background-color: #1c2631;
    min-height:20vh;
    width:100%;
    color: white;
    text-align: center;
}
.h2Footer{
    height: min-content;
    text-align: center;
    padding-top: 5px;
}
.stawka{
    width:30%;
    height:70vh;
    color:white;
    padding: 10px;
}
.stawka_div1{
    width:70%;
    background-color: #1c2631;
    margin:0 auto;
    margin-top:50px;
    border-radius: 10px;
    padding:10px;
}
.hilo
{
    width:70%;
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.info{
    display:flex;
    width:50%;
    margin:0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;
}
.karty{
    width:100%;
    text-align: center;
    padding-top:30px;
}
.buttony{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.karty>img{
    height:200px;
}
.zysk_nizsza{
    width:50%;
    background-color: #1c2631;
    height:auto;
    margin:2px;
    border-radius: 5px;
}
.zysk_wyzsza{
    width:50%;
    background-color: #1c2631;
    height:auto;
    margin:2px;
    border-radius: 5px;
}

.historia_kart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.historia_kart img {
    width: 30px;
    height: auto;
    border-radius: 5px;
    padding-left: 2px;
}

.historia_kart_div1 {
    background-color: #1c2631;
    width: 90%;
    margin: 0 auto;
    height: 60%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;        
}

.historia_kart_text{
    color: white;
    text-align: center;
}
button{
    background-color: gray;
    border:4px solid rgb(50, 48, 48);
    border-radius:10px;
    padding:10px;
    color:white;
}
input{
    background-color: rgb(171, 171, 171);
    border:4px solid rgb(50, 48, 48);
    border-radius:10px;
    padding:5px;
    max-width: 100%;
}
.wynik {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -30px;
}
button:hover {
    background-color: rgb(90, 90, 90);
    transition: background-color 0.3s; 
}

.divFooter{
    color:white;
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: #1c2631;

}
.divGry1{
    margin:30px;
    width:10%;
    margin-top:35px;
    padding:20px;
    height:100%;
    background-color: #0f141a;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 20px -10px rgba(247, 3, 3, 1);
    -moz-box-shadow: inset 0px 0px 20px -10px rgba(247, 3, 3, 1);
    box-shadow: inset 0px 0px 20px -10px rgba(247, 3, 3, 1);
}
.divGry2{
    margin:30px;
    width:10%;
    margin-top:35px;
    padding:20px;
    height:100%;
    background-color: #0f141a;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 20px -10px rgba(0, 255, 41, 1);
    -moz-box-shadow: inset 0px 0px 20px -10px rgba(0, 255, 41, 1);
    box-shadow: inset 0px 0px 20px -10px rgba(0, 255, 41, 1);
}

@media (max-width: 768px) {
    nav {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 100px;
    }

    .gry {
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    section{
        width: 100%;
        height: fit-content;
        display: flex; 
        margin: 0;
        padding: 0;
        background: rgb(51,60,64);
        background: linear-gradient(90deg, rgba(51,60,64,1) 0%, rgba(41,48,51,1) 36%);
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: min-content;
    }
    .stawka{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .stawka_div1 {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1c2631;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
    }
    hr{
        margin: -35px 0;
    }
    form input, 
    form button {
        width: 80%;
        max-width: 300px;
        text-align: center;
        z-index: 10;
    }
    .postaw{
        margin-top: -35px;
    }
    .wyniki{
        width: 90%;
        margin: 0 auto;
    }
    .wynik{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .hilo {
        margin: 0 auto;
        width: 90%;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .karty { 
        height: min-content;
        transform: scale(0.6);
        transform-origin: center;
        padding-top: 0px;
        margin: -25px 0;
    }
    .historia_kart_text{
        margin-top: -18px;
        margin-bottom: -16px;
    }
   

    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        flex-direction: column;
        height: auto;
        padding: 10px 0;
        z-index: 100;
    }

    .srodki {
        position: static;
        margin: 10px 0;
        text-align: center;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    header > a {
        text-decoration: none;
    }
    footer{
        height: fit-content;
    }
    .divFooter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
    }
    .divGry1{
        width: 100%;
        padding: 10px;
        margin: 7px 0;
    }
    .divGry2{
        width: 100%;
        padding: 10px;
        margin: 7px 0;
    }
    
}

