* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background: rgb(51,60,64);
    background: linear-gradient(90deg, rgba(51,60,64,1) 0%, rgba(41,48,51,1) 36%);
}

header {
    width: 100%;
    height: 15vh;
    background-color: #1c2631;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.srodki {
    margin: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color:white;
}
nav{
    width: 20%;
    height: 70vh;
}
nav>a{
    color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.nav_link{
    background-color: #293033;
    width: 75%;
    height: 20%;
    margin: 5px auto;
    border-radius: 5px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.nav_link>img{
    transform: none;
    height:70px;
}
.nav_link:hover{
    background-color: rgb(90, 90, 90);
    transition: background-color 0.3s; 
}
.gry{
    color:white;
    height: 10%;
    text-align: center;
}
section{
    display:flex;
    width: 80%;
    height: 70vh;
    align-items: center;
    flex-wrap: wrap;
    
}
footer{
    background-color: #1c2631;
    height:15vh;
    width:100%;
    color: white;
}
.stawka{
    width:30%;
    height:70vh;
    color:white;
    padding: 10px;
}
.stawka_div1{
    width:70%;
    background-color: #1c2631;
    margin:0 auto;
    margin-top:50px;
    border-radius: 10px;
    padding:10px;
}
.kostki{
    width:70%;
    height:70vh;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.kostka1_png>img{
    height:200px;
    width:200px;
}
.kostka2_png>img{
    height:200px;
    width:200px;
}
.suwak-container{
    width:90%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top:50px;
}
#suwak{
    width: 50%;
    margin: 0 auto;
}
.info{
    display:flex;
    width:100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:white;
}
.mnoznik{
    width:20%;
    margin:2px;
    padding-top:5px;
    text-align: center;
    background-color: #1c2631;
    height:10vh;
    border-radius: 5px;
}
.szanse{
    width:20%;
    margin:2px;
    padding-top:5px;
    text-align: center;
    background-color: #1c2631;
    height:10vh;
    border-radius: 5px;
}
.kostka1_png{
    width:50%;
    text-align: center;
}
.kostka2_png{
    width:50%;
    text-align: center;
}

button{
    background-color: gray;
    border:4px solid rgb(50, 48, 48);
    border-radius:10px;
    padding:10px;
    color:white;
}
input{
    background-color: rgb(171, 171, 171);
    border:4px solid rgb(50, 48, 48);
    border-radius:10px;
    padding:5px;
}
.text_zakres{
    color: white;
}
.text{
    color: white;
}